#short_title,.under_bar_m{
    display: none;
    /* モバイル向けでパソコン向けじゃないから非表示*/
}

h2{
    font-size: 20px;
    height: 28px;
}

p{
 font-size: 0.5cm;
}

.memus_div{
    position: relative;top:31px;
     font-size:20px;
    text-align: center;
    margin:2vh;
    padding:2vh;
}

h2{
    font-size: 20px;
    height: 28px;
}

.memus_div{
    text-align: center; 
}

.under_bar{
    background-color: rgb(87, 87, 87);
    position: relative;bottom: 0px;
    width: 100vw    ;
}

.under_bar>table>tbody>tr>td>a>p{
    color: rgb(300, 300, 300);
}

img.roboto{
  float:left;
}