#long_title,.under_bar_a{
    display: none;
}

.see_more{
    font-size: 21px;
}

p{
    font-size: 23px;
}

.under_bar_m {
    background-color: rgb(29, 29, 29);
    font-size: 22px;
    margin:0px;
    padding:0px;
}

.under_bar_m_a{
    color: rgb(226, 226, 226);
}

img{
    max-width : 100% ;
    height : auto ;
    }

.memus{
    font-size:25px;
    padding:2px;
    margin: 2px;
    position: relative;top:21px;
}