<!DOCTYPE html>
<html lang="jp">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="./img/denbutu's_logo.png" type="flatpak">
    <link rel="./img/logo.png" type="icon">
    <link rel="./img" type="icon">
    

    <link rel="stylesheet" type="text/css" href="./style/d.css" media="screen and (min-width:1000px) and (min-width:480px)"><!--For desktop users.-->
    <link rel="stylesheet" type="text/css" href="./style/m.css" media="screen and (max-width:999px)"><!--For mobile users.-->


    <!--
    <link rel="stylesheet" type="text/css" href="style/.css" media="screen and ()">For tablets(Beta).-->

    <meta charset="utf-8">


 
    <meta name="theme-color" content="#f28c8c"> 
   <!-- <meta name="description" content="日大藤沢 科学部(サイエンス部)のwebページです.すべて部員でつくりました.">-->
    <title> 科学部 | 404　</title>
    
    <meta name="google-site-verification" content="nt0_liB1RpSPMSzQ6lEyg716wMfg3d0QsrkExEhTQ5k" />

    <!--もし本文中に説明があればGoogleが自動で表示してくれる -->    
    <!--校　サイエンス部の公式HPです。ソースコードも自分たちでかきました。 ぜひ見てください。">
    <metadisprition="日本大学藤沢高等学校・中学
        -->                                                                         
                                          
        <script type="text/javascript" src="./tmp.js"></script> 

    </head>
    <body>
<h1>お探しの記事は見つかりませんでした。</h1>
<a href="./index.html" style="text-align:center;">ここをクリックでホームに戻ります。</a>

<script>tmp_under();</script>
    </body>